<!DOCTYPE html>
<html>
<head>
    <title>smart teams</title>
</head>

<body>
    {% load loadfiletemplates %}
    <form action="projectteams"></form>
    <table width=100%>
        <thead>
            <tr colspan=3 align=center>People on Bench</tr>
        </thead>
        <th>
            <tr>Teamsize</tr><tr><input type="text" id="tsize" name="tsize" value="10"></tr><tr><input type="submit" value="MakeTeam"></tr>
        </th>
    </table>
    </form>
    <div>
     <table colspace="1">
        <thead bgcolor="#d4efdf">
            <tr >
                <th>indId</th>              
                <th>indTname</th>           
                <th>indExp</th>             
                <th>indCost</th>            
                <th>indSite</th>            
                <th>indRole</th>                    
                <th>indOnoroff</th>         
                <th>indThxNotesG</th>       
                <th>indThxNotesR</th>       
                <th>indGrade</th>           
                <th>indNoPto</th>           
                <th>indDoj</th>             
                <th>indSkillLevel</th>      
                <th>indSkill</th>           
            </tr>
        </thead>
        <tbody>
            {% for x in data_code %}
                {% if forloop.counter|divisibleby:2 %}
                    <tr bgcolor="#fbfcfc">
                {% else %}
                    <tr bgcolor="#FFC300">
                {% endif %}
                        <td>{{ x.indId }}</td>
                        <td>{{ x.indTname }}</td>
                        <td>{{ x.indExp }}</td>
                        <td>{{ x.indCost }}</td>
                        <td>{{ x.indSite }}</td>
                        <td>{{ x.indRole }}</td>
                        <td>{{ x.indOnoroff }}</td>
                        <td>{{ x.indThxNotesG }}</td>
                        <td>{{ x.indThxNotesR }}</td>
                        <td>{{ x.indGrade }}</td>
                        <td>{{ x.indNoPto }}</td>
                        <td>{{ x.indDoj }}</td>
                        <td>{{ x.indSkillLevel }}</td>
                        <td>{{ x.indSkill}}</td>
                    </tr>
            {% endfor %}
        </tbody>
    </table>
        
    </div>
</body>
</html>