<!DOCTYPE html>
<html>
<head>
    <title>smart teamssdasdsadasd2</title>
</head>

<body>
    {% load loadfiletemplates %}
    <table width=100% border="1">
        <tr   style="text-align:center">
          <th colspan=3><H1>All the People on Bench</H1></th>
        </tr>
        <tr>
            <th>Teamsize</th>
            <th><input type="text" id="tsize" name="tsize" value="10"></th>
            <th><a href="{% url 'projectteams' indIdno=0 %}">Make a Team</a></th>
        </tr>
    </table>
    <div>
     <table colspace="1" width=100%>
        <thead bgcolor="#d4efdf">
            <tr >
                <th>indId</th>              
                <th>indTname</th>           
                <th>indExp</th>             
                <th>indCost</th>            
                <th>indSite</th>            
                <th>indRole</th>                    
                <th>indOnoroff</th>         
                <th>indThxNotesG</th>       
                <th>indThxNotesR</th>       
                <th>indGrade</th>           
                <th>indNoPto</th>           
                <th>indDoj</th>             
                <th>indSkillLevel</th>      
                <th>indSkill</th>           
            </tr>
        </thead>
        <tbody>
            {% for x in data_emp %}
                {% if forloop.counter|divisibleby:2 %}
                    <tr bgcolor="#fbfcfc">
                {% else %}
                    <tr bgcolor="#FFC300">
                {% endif %}
                        <td>{{ x.indId }}</td>
                        <td>{{ x.indTname }}</td>
                        <td>{{ x.indExp }}</td>
                        <td>{{ x.indCost }}</td>
                        <td>{{ x.indSite }}</td>
                        <td>{{ x.indRole }}</td>
                        <td>{{ x.indOnoroff }}</td>
                        <td>{{ x.indThxNotesG }}</td>
                        <td>{{ x.indThxNotesR }}</td>
                        <td>{{ x.indGrade }}</td>
                        <td>{{ x.indNoPto }}</td>
                        <td>{{ x.indDoj }}</td>
                        <td>{{ x.indSkillLevel }}</td>
                        <td>{{ x.indSkill}}</td>
                    </tr>
            {% endfor %}
        </tbody>
    </table>
        
    </div>
</body>
</html>