<!DOCTYPE html>
<html>
<head>
    <title>smart teams</title>
</head>
<body>
    {% load loadfiletemplates %}
    <table width=100%>
        <thead>
            <tr colspan=3 align=center>Project Teas</tr>
        </thead>
        <th>
            <tr>Teamsize</tr><tr><inp<input type="text">ut><input /></tr><tr><input type="submit"></tr>
        </th>
    </table>
    <div>
       <div>
     <table colspace="1">
        <thead bgcolor="#d4efdf">
            <tr>
                <th>tname</th>              
                <th>indId</th>              
                <th>tdevopsRatio</th>              
                <th>tdesignRatio</th>              
                <th>tavgCost</th>              
                <th>tOnOffRatio</th>              
                <th>tratioGtAvgExp</th>                         
                <th>tAvgNoOfPto</th>              
                <th>tAvgSkillLevel</th>              
                <th>tCntdistinctskills</th>              
                <th>tFitnessValue</th>                       
            </tr>
        </thead>
        <tbody>
            {% for x in data_code %}
                {% if forloop.counter|divisibleby:2 %}
                    <tr bgcolor="#fbfcfc">
                {% else %}
                    <tr bgcolor="#FFC300">
                {% endif %}
                        <td>{{ x.tname }}</td>
                        <td>{{ x.indId }}</td>
                        <td>{{ x.tdevopsRatio }}</td>
                        <td>{{ x.tdesignRatio }}</td>
                        <td>{{ x.tavgCost  }}</td>
                        <td>{{ x.tOnOffRatio }}</td>
                        <td>{{ x.tratioGtAvgExp }}</td>
                        <td>{{ x.tAvgNoOfPto  }}</td>
                        <td>{{ x.tAvgSkillLevel  }}</td>
                        <td>{{ x.tCntdistinctskills  }}</td>
                        <td>{{ x.tFitnessValue}}</td>
                    </tr>
            {% endfor %}
        </tbody>
    </table>
        
    </div>
</body>
</html>